<div class="pageContainer">
  <mat-card>
    <form
      [formGroup]="form"
      (submit)="onPasswordChange()"
      #passwordForm="ngForm"
    >
      <div class="cardContainer">
        <h5>Change password</h5>
        <div class="oldpassword">
          <mat-form-field>
            <input
              matInput
              type="password"
              placeholder="Current password"
              formControlName="oldpassword"
            />
          </mat-form-field>
          <div *ngIf="oldpassword.invalid && oldpassword.touched">
            <div *ngIf="oldpassword.errors?.['required']">
              <small>please, enter your current password.</small>
            </div>
          </div>
        </div>
        <div class="newpassword">
          <mat-form-field>
            <input
              matInput
              placeholder="New password"
              type="password"
              formControlName="newpassword"
            />
          </mat-form-field>
          <div *ngIf="newpassword.invalid && newpassword.touched">
            <div *ngIf="newpassword.errors?.['required']">
              <small>Please, enter a new password.</small>
            </div>
            <div *ngIf="newpassword.errors?.['minlength']">
              <small>Password has to include atleast 8 characters.</small>
            </div>
          </div>
        </div>
        <div class="confirmpassword">
          <mat-form-field>
            <input
              matInput
              placeholder="Confirm password"
              type="password"
              formControlName="confirmpassword"
            />
          </mat-form-field>
          <div *ngIf="confirmpassword.invalid && confirmpassword.touched">
            <div *ngIf="confirmpassword.errors?.['required']">
              <small>Please, enter a new password again.</small>
            </div>
          </div>
        </div>
        <div
          *ngIf="passwordForm.errors?.['passwordMismatch'] && passwordForm.submitted"
        >
          <small>Passwords do not match.</small>
        </div>
        <div class="buttons">
          <button mat-button class="navButton" type="submit">
            Save changes
          </button>
          <button
            style="margin-left: 5px"
            mat-button
            class="navButton"
            type="button"
            (click)="onCancel()"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
