.pageContainer {
  width: 100vh;
  height: auto;
}

mat-card {
  width: 100%;
  height: auto;
  background-color: rgb(172, 172, 172);
  color: black;
}

.cardContainer {
  display: flex;
  flex-direction: column;
}

.oldpassword,
.newpassword,
.confirmpassword {
  margin: 12px 0;
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-form-field-label {
  color: black !important;
}

::ng-deep .mat-form-field-underline {
  background-color: black !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: rgb(158, 66, 157) !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: rgb(158, 66, 157) !important;
  color: rgb(158, 66, 157) !important;
}

/* input {
  background-color: rgb(210, 210, 210);
  border: none;
  border-bottom: 1px solid black;
  color: black;
} */

small {
  color: red;
}

.buttons {
  margin-top: 15px;
}

.navButton {
  background-color: rgb(217, 169, 215);
  transition: background 600ms ease;
  margin-top: 10px;
}

.navButton:hover {
  background-color: rgb(174, 114, 171);
}

.navButton:disabled {
  background-color: rgb(219, 137, 217);
  cursor: not-allowed;
}
